.header {
    height: 50px;
    color:#3385dd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 40px;
}

.brand a {
    margin: 0;
    color: #fff;
    font-size: 20px;
    transition: color 0.5s;
  }
  
.brand a:hover {
    text-decoration: none;
    color:#3385dd;
  }
  
.nav-links a {
    padding: 7px 12px;
    font-size: 14px;
  }
  
.footer {
    text-align: center;
    margin: 0;
    height: 60px;
    width: 100%;
  }

.footer p {
      color:#fff;
  }
  
.main-header {
    height: 50px;
    color:#3385dd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 40px;
  }

.mobile-menu .fas {
    cursor: pointer;
    display: none;
  }

.logo {
    font-size: 25px;
  }

.foot {
    text-align: center;
    margin: 0;
    height: 20px;
    width: 100%;
  }

.foot p {
    color: #3385dd;
  }
