@import url('./common.css');
@import url('./auth.css');
@import url('./form.css');
@import url('./button.css');
@import url('./utilities.css');
@import url('./wrapper-side.css');
@import url('./wrapper-dashboard.css');
@import url('./dashboard.css');
@import url('./add-to-cart.css');
@import url('./sales-record.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    box-shadow: none;
    font-family: 'Work Sans', sans-serif;
}

html {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.wrapper {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    width: 100%;
}

.wrapper-content {
    display: flex;
    flex: 4;
    flex-direction: column;
    background:#FBFBFE;
}